/* App.css */
.App {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .App.dark-mode {
    background-color: #333;
    color: #f4f4f9;
  }
  
  .header {
    background-color: #5a67d8;
    padding: 10px;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .dark-mode-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .dark-mode-button:hover {
    background-color: white;
    color: #5a67d8;
  }
  