.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .login-bar {
    padding: 40px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .login-input {
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
  }
  
  .login-input:focus {
    border: 1px solid #007bff;
  }
  
  .login-input-buton {
    width: 100%;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #5a67d8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    outline: none;
  }
  
  .login-input-buton:hover {
    background: #0056b3;
  }
  
  .login-bar p {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
  }